@model Escc.PhotoConsent.Models.DataModels.PhotographerModel

@Html.HiddenFor(model => model.FormID)
@Html.HiddenFor(model => model.FormGUID)
@Html.HiddenFor(model => model.PhotographerID)
<div class="row well-sm">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Jane Doe", @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Jane@doe.com", @class = "form-control",  @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = "01234 123123", @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.ContactNumber, null, new { @class = "alert alert-error" })
</div>
