@model Tuple<string,Escc.PhotoConsent.Models.ViewModels.FormViewModel>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    @foreach (var Participant in Model.Item2.Participants)
    {
        var FormDictionary = new Dictionary<string, string>();
        FormDictionary.Add("Controller", Model.Item1);
        FormDictionary.Add("FormID", Model.Item2.Form.FormID.ToString());
        FormDictionary.Add("FormGUID", Model.Item2.Form.GUID.ToString());
        FormDictionary.Add("ParticipantID", Participant.ParticipantID.ToString());
        FormDictionary.Add("ParticipantName", Participant.Name);
        FormDictionary.Add("ParticipantEmail", Participant.Email);
        FormDictionary.Add("ParticipantContactNumber", Participant.ContactNumber);

        <div class="well-sm">
            <div class="panel panel-info">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@Participant.ParticipantID" aria-expanded="true" aria-controls="collapseOne">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Participant: @Participant.Name
                        </a>
                    </h4>
                </div>
                <div id="@Participant.ParticipantID" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="row well-sm">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @if ( Participant.Base64Image == null || Participant.Base64Image == "")
                                {
                                    <div class="thumbnail">
                                        <img src="~/Content/Images/No_Image.png" />
                                    </div>
                                }
                                else
                                {
                                    <div class="thumbnail">
                                        <img src="@Participant.Base64Image" />
                                    </div>
                                }
                                @{Html.RenderPartial("~/Views/Partials/_PhotoUploadForm.cshtml", FormDictionary);}
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                @Html.Label("Name", "Name", new { @class = "control-label" })
                                @Html.TextBox("Name", Participant.Name, new { @class = "form-control", @readonly = "readonly" })
                                @Html.Label("Email", "Email", new { @class = "control-label" })
                                @Html.TextBox("Email", Participant.Email, new { @class = "form-control", @readonly = "readonly" })
                                @Html.Label("Contact Number", "Contact Number", new { @class = "control-label" })
                                @Html.TextBox("Contact Number", Participant.ContactNumber, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="panel panel-warning">
                                    <div class="panel-heading"></div>
                                    <div class="panel-body">
                                        @{Html.RenderPartial("~/Views/Partials/Participants/_EditParticipantForm.cshtml", FormDictionary);}
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading"></div>
                                    <div class="panel-body">
                                        @{Html.RenderPartial("~/Views/Partials/Participants/_DeleteParticipantForm.cshtml", FormDictionary);}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
