@{
    Layout = "~/Views/Shared/_ConsentFormLayout.cshtml";
}
@using System.Configuration;
@model Escc.PhotoConsent.Models.ViewModels.FormViewModel

@{ 
    var FormDictionary = new Dictionary<string, string>();
    FormDictionary.Add("Controller", "Form");
    FormDictionary.Add("FormID", Model.Form.FormID.ToString());
    FormDictionary.Add("FormGUID", Model.Form.GUID.ToString());
}
<p></p>
<div class="row">

</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Participants.Count == 0)
                    {
                        <p class="text-center"><b>No Participants have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        foreach (var Participant in Model.Participants)
                        {
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Participant ID: @Participant.ParticipantID</h3></div>
                                    <div class="panel-body">
                                        <div class="row well-sm">
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                @if (Model.Photos.SingleOrDefault(x => x.ParticipantID == Participant.ParticipantID) == null)
                                                {
                                                    <div class="thumbnail">
                                                        <img src="~/Content/Images/No_Image.png" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    // TO DO
                                                }
                                                <!---// TO DO // Add Button to Photo Form Modal-->
                                            </div>

                                            <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-6 col-md-6 col-lg-6">
                                                @Html.Label("Name", "Name", new { @class = "control-label" })
                                                @Html.TextBox("Name", Participant.Name, new { @class = "form-control" })
                                                @Html.Label("Email", "Email", new { @class = "control-label" })
                                                @Html.TextBox("Email", Participant.Email, new { @class = "form-control" })
                                                @Html.Label("Contact Number", "Contact Number", new { @class = "control-label" })
                                                @Html.TextBox("Contact Number", Participant.ContactNumber, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Participant</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/_ParticipantForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Officers.Count == 0)
                    {
                        <p class="text-center"><b>No Commissioning Officers have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        foreach (var Officer in Model.Officers)
                        {
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Commissioning Officer ID: @Officer.OfficerID</h3></div>
                                    <div class="panel-body">
                                        @Html.Label("Name", "Name", new { @class = "control-label" })
                                        @Html.TextBox("Name", Officer.Name, new { @class = "form-control" })
                                        @Html.Label("Email", "Email", new { @class = "control-label" })
                                        @Html.TextBox("Email", Officer.Email, new { @class = "form-control" })
                                        @Html.Label("Contact Number", "Contact Number", new { @class = "control-label" })
                                        @Html.TextBox("Contact Number", Officer.ContactNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Commissioning Officer</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/_CommissioningOfficerForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></div>
            <div class="panel-body">
                <div class="row">
                    @if (Model.Photographers.Count == 0)
                    {
                        <p class="text-center"><b>No Photographers have been added to this form. Please add at least one.</b></p>
                    }
                    else
                    {
                        foreach (var Photographer in Model.Photographers)
                        {
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Photographer ID: @Photographer.PhotographerID</h3></div>
                                    <div class="panel-body">
                                        @Html.Label("Name", "Name", new { @class = "control-label" })
                                        @Html.TextBox("Name", Photographer.Name, new { @class = "form-control" })
                                        @Html.Label("Email", "Email", new { @class = "control-label" })
                                        @Html.TextBox("Email", Photographer.Email, new { @class = "form-control" })
                                        @Html.Label("Contact Number", "Contact Number", new { @class = "control-label" })
                                        @Html.TextBox("Contact Number", Photographer.ContactNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Photographer</div>
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Partials/_PhotographerForm.cshtml", FormDictionary);}
            </div>
        </div>
    </div>
</div>
