@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Escc.PhotoConsent.Models.ViewModels.ManageFormViewModel

<p></p>
<div class="row">
    <p></p>
    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Advanced Search </div>
            <div class="panel-body">
                @using (Html.BeginForm("SearchForms", "Admin", FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="row well-sm">
                                @Html.Label("Project Name", new { @class = "control-label" })
                                @Html.TextBox("ProjectName", "", new { @placeholder = "Example Project 254", @class = "form-control" })
                            </div>
                            <div class="row well-sm">
                                @Html.Label("Paymo Number", new { @class = "control-label" })
                                @Html.TextBox("PaymoNumber", "", new { @placeholder = "515364", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="row well-sm">
                                @Html.Label("Created By", new { @class = "control-label" })
                                @Html.TextBox("CreatedBy", "", new { @placeholder = "Jane Doe", @class = "form-control" })
                            </div>
                            <div class="row well-sm">
                                @Html.Label("Consent", new { @class = "control-label" })
                                @Html.DropDownList("Consent", new SelectList(new List<string> { "True", "False", "Both" }), "Please Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="row well-sm">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Label("Date From", new { @class = "control-label" })
                                    @Html.TextBox("DateFrom", "", new { @placeholder = "01/07/2017", @class = "form-control" })
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.Label("Date To", new { @class = "control-label" })
                                    @Html.TextBox("DateTo", "", new { @placeholder = "01/08/2017", @class = "form-control" })
                                </div>
                            </div>

                            <div class="row well-sm text-center" style="margin-top:25px;">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    @Html.RouteLink("Clear", "ManageForms", new { }, new { @class = "btn btn-default" })
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" class="btn btn-info" value="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="row">
            <div class="panel panel-default text-center">
                <div class="panel-heading"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Photographers/Comm Officers</div>
                <div class="panel-body">
                    @Html.RouteLink("Photographers", "ManagePhotographers", new { }, new { @class = "btn btn-warning" })
                    @Html.RouteLink("Comm Officers", "ManageCommOfficers", new { }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Form</div>
                <div class="panel-body">
                    @{Html.RenderPartial("~/Views/Partials/ConsentForms/_ConsentFormForm.cshtml");}
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Consent Forms</div>
        <div class="panel-body">
            @{Html.RenderPartial("~/Views/Partials/_DataTable.cshtml", Model.Forms);}
        </div>
    </div>
</div>

