@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Configuration;
@using Escc.PhotoConsent.Models.DataModels;
@model Escc.PhotoConsent.Models.ViewModels.FormViewModel
@{
    var FormDictionary = new Dictionary<string, string>
    ();
    FormDictionary.Add("Controller", "Admin");
    FormDictionary.Add("FormID", Model.Form.FormID.ToString());
    FormDictionary.Add("FormGUID", Model.Form.GUID.ToString());
    FormDictionary.Add("ConsentGiven", Model.Form.ConsentGiven.ToString());
    FormDictionary.Add("CreatedBy", Model.Form.CreatedBy);
    FormDictionary.Add("ProjectName", Model.Form.ProjectName);
    FormDictionary.Add("PaymoNumber", Model.Form.PaymoNumber);
    FormDictionary.Add("Notes", Model.Form.Notes);
    FormDictionary.Add("DateSubmitted", Model.Form.DateSubmitted);

    Tuple<string, Escc.PhotoConsent.Models.ViewModels.FormViewModel>
        AccordionTuple = new Tuple<string, Escc.PhotoConsent.Models.ViewModels.FormViewModel>
            ("Admin", Model);
            }
            <p></p>
            <div id="ConsentForm">
                <div class="list-group panel panel-info">
                    <a href="#FormPanel" class="list-group-item" data-toggle="active" data-parent="#ConsentForm"><b>@Model.Form.ProjectName</b></a>
                    <div class="active" id="FormPanel">
                        <div class="thumbnail">
                            <p>  </p>
                            <div class="panel with-nav-tabs">
                                <div class="panel-heading">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#Form" data-toggle="tab"><b>Form</b></a></li>
                                        <li><a href="#Participants" data-toggle="tab"><b>Participants</b></a></li>
                                        <li><a href="#Officers" data-toggle="tab"><b>Commissioning Officers</b></a></li>
                                        <li><a href="#Photographers" data-toggle="tab"><b>Photographers</b></a></li>
                                    </ul>
                                </div>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="Form">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                                    <div class="row">
                                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                                            @Html.LabelFor(model => model.Form.CreatedBy, new { @class = "control-label" })
                                                                            @Html.TextBoxFor(model => model.Form.CreatedBy, new { @placeholder = "CreatedBy", @class = "form-control", @readonly = "readonly" })
                                                                        </div>
                                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                                            @Html.LabelFor(model => model.Form.DateCreated, new { @class = "control-label" })
                                                                            @Html.TextBoxFor(model => model.Form.DateCreated, new { @placeholder = "DateCreated", @class = "form-control", @readonly = "readonly" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                                            @Html.LabelFor(model => model.Form.ProjectName, new { @class = "control-label" })
                                                                            @Html.TextBoxFor(model => model.Form.ProjectName, new { @placeholder = "ProjectName", @class = "form-control", @readonly = "readonly" })
                                                                        </div>
                                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                                            @Html.LabelFor(model => model.Form.PaymoNumber, new { @class = "control-label" })
                                                                            @Html.TextBoxFor(model => model.Form.PaymoNumber, new { @placeholder = "PaymoNumber", @class = "form-control", @readonly = "readonly" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                                            @Html.LabelFor(model => model.Form.Notes, new { @class = "control-label" })
                                                                            @Html.TextAreaFor(model => model.Form.Notes, new { @placeholder = "Notes", @class = "form-control", @readonly = "readonly" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                                    <div class="panel panel-warning">
                                                                        <div class="panel-heading"></div>
                                                                        <div class="panel-body">
                                                                            @{Html.RenderPartial("~/Views/Partials/ConsentForms/_EditConsentFormForm.cshtml", FormDictionary);}
                                                                        </div>
                                                                    </div>
                                                                    <div class="panel panel-danger">
                                                                        <div class="panel-heading"></div>
                                                                        <div class="panel-body">
                                                                            @{Html.RenderPartial("~/Views/Partials/ConsentForms/_DeleteConsentFormForm.cshtml", FormDictionary);}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    @if (Model.Form.ConsentGiven)
                                                    {
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Consent Given</div>
                                                        <div class="panel-body">
                                                            @Html.LabelFor(model => model.Form.DateSubmitted, new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.Form.DateSubmitted, new { @placeholder = "DateSubmitted", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    }
                                                    else
                                                    {
                                                    <div class="panel panel-danger">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Consent Not Given</div>
                                                        <div class="panel-body">
                                                            The participant has not given consent yet.
                                                        </div>
                                                    </div>
                                                    }
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Manage Forms</div>
                                                        <div class="panel-body text-center">
                                                            @Html.RouteLink("View All Forms ", "ManageForms", new { }, new { @class = "btn btn-info" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                @if (Model.Officers.Count == 0 || Model.Photographers.Count == 0)
                                                {
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Link to Consent Form</div>
                                                    <div class="panel-body text-center">
                                                        <div class="alert alert-warning" role="alert"><b>Requirements not met:</b> Make sure at least one <b>Commissioning Officer</b> and one <b>Photographer</b> has been added to the form.</div>
                                                    </div>
                                                </div>
                                                }
                                                else
                                                {
                                                <div class="panel panel-success">
                                                    <div class="panel-heading"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Link to Consent Form</div>
                                                    <div class="panel-body text-center">
                                                        @{
                                                        var LinkToForm = string.Format("{0}/ConsentForm/{1}", @ConfigurationManager.AppSettings["ServerUrl"], @Model.Form.GUID);
                                                        }
                                                        <a href="@LinkToForm">@LinkToForm</a>
                                                    </div>
                                                </div>
                                                }

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Participants">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                @if (Model.Participants.Count == 0)
                                                                {
                                                                <p class="text-center"><b>No Participants have been added to this form</b></p>
                                                                }
                                                                else
                                                                {
                                                                Html.RenderPartial("~/Views/Partials/Participants/_ParticipantAccordion.cshtml", AccordionTuple);
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Participant</div>
                                                        <div class="panel-body">
                                                            @{Html.RenderPartial("~/Views/Partials/Participants/_ParticipantForm.cshtml", FormDictionary);}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Officers">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                @if (Model.Officers.Count == 0)
                                                                {
                                                                <p class="text-center"><b>No Commissioning Officers have been added to this form</b></p>
                                                                }
                                                                else
                                                                {
                                                                Html.RenderPartial("~/Views/Partials/CommOfficers/_CommOfficerAccordion.cshtml", AccordionTuple);
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Commissioning Officer</div>
                                                        <div class="panel-body">
                                                            @{ var ExistingCommModel = new Tuple<Dictionary<int,string>, Dictionary<string,string>>(Model.AllCommOfficers, FormDictionary ); }
                                                @{Html.RenderPartial("~/Views/Partials/CommOfficers/_ExistingCommOfficerForm.cshtml", ExistingCommModel);}
                                                @{Html.RenderPartial("~/Views/Partials/CommOfficers/_CommOfficerForm.cshtml", FormDictionary);}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="Photographers">
                                            <div class="row">
                                                <div class="col-sm-9 col-md-9 col-lg-9">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                @if (Model.Photographers.Count == 0)
                                                                {
                                                                <p class="text-center"><b>No Photographers have been added to this form</b></p>
                                                                }
                                                                else
                                                                {
                                                                Html.RenderPartial("~/Views/Partials/Photographers/_PhotographerAccordion.cshtml", AccordionTuple);
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 col-md-3 col-lg-3">
                                                    <div class="panel panel-success">
                                                        <div class="panel-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Photographer</div>
                                                        <div class="panel-body">
                                                            @{ var ExistingPhotographerModel = new Tuple<Dictionary<int, string>, Dictionary<string, string>>(Model.AllPhotographers, FormDictionary); }
                                                @{Html.RenderPartial("~/Views/Partials/Photographers/_ExistingPhotographerForm.cshtml", ExistingPhotographerModel);}
                                                @{Html.RenderPartial("~/Views/Partials/Photographers/_PhotographerForm.cshtml", FormDictionary);}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
