@model Escc.PhotoConsent.Models.DataModels.CommissioningOfficerModel

<div class="row well-sm">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Jane Doe", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Jane@doe.com", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.ContactNumber, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.ContactNumber, new { @placeholder = "01234567890", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ContactNumber, null, new { @class = "alert alert-error" })
</div>
