@model Escc.PhotoConsent.Models.DataModels.ConsentFormModel

@Html.HiddenFor(x => x.FormID)
<div class="row well-sm">
    @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.CreatedBy, new { @placeholder = "Created By", @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.CreatedBy, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.ProjectName, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.ProjectName, new { @placeholder = "Project Name", @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.ProjectName, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.PaymoNumber, new { @class = "control-label" })
    @Html.TextBoxFor(model => model.PaymoNumber, new { @placeholder = "Paymo Number", @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PaymoNumber, null, new { @class = "alert alert-error" })
</div>
<div class="row well-sm">
    @Html.LabelFor(model => model.Notes, new { @class = "control-label" })
    @Html.TextAreaFor(model => model.Notes, new { @placeholder = "Notes", @class = "form-control", @readonly = "readonly" })
    @Html.ValidationMessageFor(model => model.Notes, null, new { @class = "alert alert-error" })
</div>
